<!-- teacher/templates/teacher/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor JARVIS</title>
    {% load static %}
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <h1>Professor JARVIS</h1>
    <div>
        <button id="startBtn">Start Recording</button>
        <button id="stopBtn">Stop Recording and Send</button>
    </div>
    <p id="status"></p>
    <script src="{% static 'teacher/script.js' %}"></script>
</body>
</html>
